<h1>Places I've Been!</h1>
<form action="/places" method="post">
  <label for="new-place">Enter a Place!</label>
  <input id="new-place" name="new-place" type="text">
  <button type="submit">Submit!</button>
</form>
